<div class="divTableCell">
  <input type="text" class="form-control" name="name" [(ngModel)]="name"
         placeholder="Название" required>
</div>
<div class="divTableCell">
  <input type="text" class="form-control" name="category" [(ngModel)]="category"
         placeholder="Категория" required>
</div>
<div class="divTableCell">
  <input type="text" class="form-control" name="dateStart" [(ngModel)]="dateStart"
         placeholder="Начало" required>
</div>
<div class="divTableCell">
  <input type="text" class="form-control" name="dateEnd" [(ngModel)]="dateEnd"
         placeholder="Окончание" required>
</div>
<div class="divTableCell">
  <input type="text" class="form-control" name="status" [(ngModel)]="status"
         placeholder="Статус" required>
</div>
<div class="divTableCell">
  <button class="btn btn-success float-left" (click)="addTask()">Добавить задачу</button>
</div>
