<app-statistic
  [tasksAll] = "getTaskListsSize()"
  [tasksFinished] = "getTasksAmountByStatus('Выполнено')"
  [tasksOverdue] = "getTasksAmountByStatus('Просрочено')"
  [tasksPlanned] = "getTasksAmountByStatus('Запланировано')">
</app-statistic>
  <div class="row">
    <div class="col-8">
    </div>
    <div class="col-4">
      <div class="form-check float-right">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" (change)="filterTasks($event)">
          Показать все
        </label>
      </div>
    </div>
  </div>
<div class="divTable" style="border: 1px solid #000;" >
  <div class="divTableRow" app-task-add (addTaskEmitter)="addNewTask($event)" *ngIf="!editMode"></div>
  <div class="divTableRow" app-task-edit [task]="taskToEdit" *ngIf="editMode" (completeEditEmitter) = "changeTask($event)"></div>
  <div class="divTableHeading">
    <div class="divTableHead">
      Задача
    </div>
    <div class="divTableHead">
      Категория
    </div>
    <div class="divTableHead">
      Начало
    </div>
    <div class="divTableHead">
      Окончание
    </div>
    <div class="divTableHead">
      Статус
    </div>
    <div class="divTableHead">
      Удалить ?
    </div>
  </div>
  <div class="divTableBody">
    <ng-container *ngFor="let task of tasks">
      <div class="divTableRow" app-list-row *ngIf="showRow(task)"
           [id] ="task.id"
           [name] = "task.name"
           [category] = "task.category"
           [dateStart] = "task.dateStart"
           [dateEnd] = "task.dateEnd"
           [status] = "task.status"
           (deleteTaskEmitter)="deleteTaskFromArray($event)">
      </div>
    </ng-container>
  </div>
</div>
