  <div class="divTableCell">{{name | myTitleCase}}</div>
  <div class="divTableCell">{{category | myTitleCase}}</div>
  <div class="divTableCell">{{helperService.beautifyDate(dateStart)}}</div>
  <div class="divTableCell">{{helperService.beautifyDate(dateEnd)}}</div>
  <div class="divTableCell" [ngClass] = "[status == 'Просрочено' ? 'overdue' : '']">{{status}}</div>
  <div class="divTableCell">
    <button class="btn btn-info float-left" (click)="editTask()">Edit</button>
    <button class="btn btn-danger float-right" (click)="deleteTask()">Del</button>
  </div>
